{{latestRefresh | date: "medium"}}
<h1>{{title}}
</h1>
<nav>
  <a routerLink="/movies" routerLinkActive="active">Movies</a>
</nav>
<nav>
  <a routerLink="/featuredmovies" routerLinkActive="active">Movies Featured</a>
  </nav>
<nav>
  <a routerLink="/moviesb" routerLinkActive="active">MoviesB</a>
</nav>
<nav>
  <a routerLink="/movieswithid" routerLinkActive="active">Movies With Id</a>
</nav>
<nav>
  <a routerLink="/reactive" routerLinkActive="active">Reactive Form Component</a>
</nav>
<router-outlet></router-outlet>
